{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
  <div class="d-flex justify-content-between">
    <!-- 이미지 -->
    <div class="mr-3">
      <img src="{{movie.poster_url}}" width="400" height="600" alt="">
    </div>
    <div>
      <h1>{{movie.title}}</h1>
      <form action="{% url 'movies:new' movie.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-end">
        <input class="btn btn-primary" type="submit">
        </div>
      </form>
      <form action="{% url 'movies:like' movie.id %}" method="POST">
        {% csrf_token %}
        {% if user in movie.like_users.all %}
          <input class="btn btn-danger" type="submit" value="♥">    
        {% else %}
          <input class="btn btn-danger" type="submit" value="♡">    
        {% endif %}
      </form>
      좋아요: {{movie.like_users.count}}
      {% for review in reviews %}
        {{review.content}}
        {{review.score}}
        <form action="{% url 'movies:delete' movie.id review.id %}">
          {% csrf_token %}
          <input type="submit" value="X">
        </form>
    </div>
  </div>
  <!-- 하단 -->
  <div class="card" style="">
    <div class="card-body">
      <p>{{movie.description}}</p>
    </div>
  </div>
  {% endfor %}
{% endblock %}