{% extends 'base.html' %}
{% block body %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    {% for movie in movies %}
    <div class="carousel-item">
      <a href="{% url 'movies:detail' movie.id %}">
        <img src="{{movie.poster_url}}" class="d-block w-100" style="height: 600px; object-fit:cover;">
      </a>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- 영화 목록 -->
<div class="row">
  {% for movie in movies %}
  <div class="col-4 my-2">
    <div class="card">
      <a href="{% url 'movies:detail' movie.id %}">
        <img src="{{movie.poster_url}}" class="card-img-top" alt="...">
      </a>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min)) + min; //최댓값은 제외, 최솟값은 포함
  }

  const carousels = document.querySelectorAll('.carousel-item')

  let randomNumber = getRandomInt(0, carousels.length - 1)
  const pickedCarousel = carousels[randomNumber]
  pickedCarousel.classList.add('active')
</script>
{% endblock %}