{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% bootstrap_css %}

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">콜라보 장고</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'movies:index' %}">홈</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'accounts:index' %}">유저목록</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout'%}">로그아웃</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:detail' user.id%}">{{user.username}}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login'%}">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:signup'%}">회원가입</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container my-3">
    {% block body %}
    {% endblock %}
  </div>
  {% bootstrap_javascript jquery='full'%}
</body>

</html>